<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><b>Skebot</b></a>
  </div>
  <!--<nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>-->
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="user-action">
      <!--<nb-user shape="semi-round" [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture | ngxAuthToken | async">
      </nb-user>-->
      <nb-user shape="semi-round" [nbContextMenu]="userMenu" [name]="user?.firstName" ></nb-user>
    </nb-action>
  </nb-actions>
</div>
