<div class="row">
  <ng-container *ngIf="devices">
    <div class="col-xxxl-3 col-md-6" *ngFor="let device of devices">
      <ngx-status-card [title]="device.name"
                       [on]="device.isOn"
                       [type]="device.settings.type"
                       (statusChanged)="changeDeviceStatus(device, $event)">
        <i [ngClass]="device.settings.iconClass"></i>
      </ngx-status-card>
    </div>
  </ng-container>
  <ng-container *ngIf="!devices">
    <div class="col-xxxl-3 col-md-6" *ngFor="let i of [1, 2, 3, 4]">
      <div [nbSpinner]="!devices"><ngx-status-card-placeholder></ngx-status-card-placeholder></div>
    </div>
  </ng-container>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <div [nbSpinner]="!solarValue"><ngx-solar *ngIf="solarValue" [chartValue]="solarValue"></ngx-solar></div>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div>
