<nb-card>
  <nb-card-body>

    <h1 id="title" class="title">Skebot</h1>
    <p class="sub-title">Login with Salesforce</p>
    <div class="sub-title">
      <nb-select placeholder="Select Environment" hero status="primary" [(selected)]="selectedEnvironement">
        <nb-option value="prod">Production</nb-option>
        <nb-option value="sandbox">Sandbox</nb-option>
      </nb-select>
      <br>
      <div class="form-control-group accept-group" style="padding-left: 25%">
        <nb-checkbox (checkedChange)="toggleAcceptTermsCondition($event)" name="acceptTermCondition">Agree with Terms & Condition</nb-checkbox>
      </div>  
      
      <button nbButton status="primary" size="large"
      (click)="login()" [disabled]="!acceptTermCondition || !selectedEnvironement">
       Log In with Salesforce
     </button>        
    </div>
  
  </nb-card-body>
</nb-card>